.ContactPage{
    display:grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 💥 magic line */
    align-items: center;
    place-items: center;
    height: 100vh;
    justify-content: center;
}